body {
  color: white;
  background-color: #141414;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: unset;
  display: contents;
  /* all: inherit; */
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}
